*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: bisque;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

nav{
    height: 70px;
    width: 100%;

    border-radius: 2px;
    border-color: blue;
    border-style: double;
    background-color: darkslategray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    z-index: 100;
}

nav div{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-search{
    display: flex;
}

.nav-search p{
    color: aliceblue;
    margin-right: 20px;
}

a{
    color: aliceblue;
}

.hero{
    width: 100%;
    height: 300px;
    background-image: url('./img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero p{
    color: aliceblue;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.hero-2{
    width: 100%;
    height: 300px;
    background-image: url('./img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.hero-2 p{
    color: aliceblue;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 20px;

    text-shadow:
        -1px -1px 0 darkslategray,
         1px -1px 0 darkslategray,
        -1px  1px 0 darkslategray,
         1px  1px 0 darkslategray;
}

main{
    width: 100%;
    background-color: aliceblue;
}

section{
    width: 100%;
    min-height: 300px;
    padding: 20px;

    scroll-margin-top: 70px;
}

section a{
    color: darkslategray;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.planet{
    flex-basis: 20%;
    flex-shrink: 0;
    min-width: 200px;

    margin-top: 10px;
    margin: 10px;
}

.flex-column .planet{
    display: flex;
}

.flex-column .planet .div-img
{
    max-width: 300px;
    margin-right: 20px;

    border-radius: 50%;
}

.div-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.div-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-v {
    aspect-ratio: 1 / 2;
}

.img-v img {
    object-position: 50% 0%; 
}

footer{
    height: 70px;
    width: 100%;
    background-color: darkslategray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    margin-left: 20px;
    margin-right: 20px;
}

.back-image{
    background-color: aqua;
    background-image: url('./img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
}

.back-image h2, .back-image h3, .back-image p{
    text-shadow:
        -1px -1px 0 aliceblue,
         1px -1px 0 aliceblue,
        -1px  1px 0 aliceblue,
         1px  1px 0 aliceblue;
}

#a5 .flex-row .planet:first-of-type{
    flex-basis: 100%;
}

#a5 .flex-row .planet:first-of-type .div-img {
    width: 100%;
    aspect-ratio: 6 / 1;
    overflow: hidden;
}

#a5 .flex-row .planet:first-of-type .div-img img{
    object-position: 50% 0%; 
}


@media (max-width: 800px) {

    nav{
        flex-direction: column;
        justify-content: space-evenly;
    }

}

@media (max-width: 500px) {

    .flex-column .planet{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #a5 .flex-row .planet:first-of-type .div-img {
        aspect-ratio: 3 / 1;
    }

}